<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/1.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/2.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/3.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/4.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/5.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/6.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/7.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/8.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/9.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/10.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/11.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/12.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/13.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/14.jpg" alt=""></h1>
        </ion-slide>
        <ion-slide>
          <h1><img src="..//..//assets/img/gallery/15.jpg" alt=""></h1>
        </ion-slide>
    </ion-slides>
    </ion-content>


</ion-content>