<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- MainPage -->
<br>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>My Personal Information</ion-card-subtitle>
    <ion-card-title>Racelle S. Pacquiaban BSIT 3A</ion-card-title>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p> &nbsp;&nbsp;
      Hi ! I am <strong>Racelle Pacquiaban</strong> , 21 years of existence and currently living in Pinamopoan Capoocan, Leyte. 
      I graduated from Asuncion S. Melgar National Highschool with a course of TVL CSS, and proud to say that 
      I am also an NCII Passer of my course. My hobbies are playing online games, traveling, eating, assembling and disassembling 
      any parts of mobile phones . If you want to know about me or for further information just contact me at 
      my email account <br>
      <ion-icon name="mail-open-sharp"></ion-icon><a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCKCCSfszHRCjKQFQgNdcxCcmRDQxmcqBnFSPQgjztXHrJSsCqdmMLkpRzbcCKtHPpqmNbVB"> racelle.pacquiaban@e­vsu.edu.ph </a>
      <ion-icon name="logo-facebook"></ion-icon><a href="https://web.facebook.com/racelle.pacquiaban"> Ellecar Nabaiuqcap </a>
    </p>
    <br>
    <p><center><img src="..//..//assets/img/bg.jpg" alt=""></center></p>
  </ion-card-content>
</ion-card>